$input-width: 330px;
$border-basic-ddd: 1px solid #ddd;

%border-shared {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 0 inset;
}

%border-right-reset {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-left: none !important;
}

%border-left-reset {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-left: none !important;
}

%set-border-bg {
  color: black;
  background-color: white;
  border: $border-basic-ddd;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

p {
  all: unset;
}

input[type=text] {
  @extend %border-shared;
}

#todo-app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#top-box {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

#todo-input {
  padding: 10px;
}

.input-text {
  width: $input-width;
  display: inline-block;
  @extend %border-right-reset;
  @extend %border-shared;
}

.input-add {
  width: $input-width;
  padding: 10px;
  @extend %border-right-reset;
  @extend %set-border-bg;
}

.input-modify {
  width: $input-width;
  padding: 10px;
  @extend %border-right-reset;
}

#todo-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

#calendar {
  text-align: center;
  width: 100px;
}

.btn {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  padding: 6px 12px;
  font-size: 16px;
}

.bg-blue {
  background-color: #0d6efd;
}

.bg-yellow {
  background-color: #ffc107;
}

.bg-red {
  background-color: #dc3545;
}

.red {
  color: #dc3545;
}

.flex {
  display: flex;
}

.add {
  @extend %border-left-reset;
  @extend %set-border-bg;
}

.edit {
  @extend %border-left-reset;
  @extend %set-border-bg;
  border-radius: 0;
}

.remove, .save {
  @extend %border-left-reset;
  @extend %set-border-bg;
}

.load {
  @extend %set-border-bg;
}